.koktel-kartica {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;   
  max-width: 250px;  
  color: black;
  flex: 1;  
  min-width: 200px;  
  padding: 2%;
}

.koktel-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 16px;
}

.koktel-description {
  margin-bottom: 16px;
  font-style: italic;
}

.koktel-image {
  width: 100%;
  height: auto;
  margin: 0 auto 20px;
  display: block;
  border-radius: 8px;
}

.ingredients-list, .reviews-list {
  list-style-type: none;
  padding-left: 0;
}

.ingredients-list li, .reviews-list li {
  margin-bottom: 8px;
}

.reviews-list li {
  border-top: 1px dashed #ccc;
  padding-top: 8px;
}

.kokteli-container {
  margin: 5%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;  
  align-items: start;   
}


.login-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  background-image: url('https://www.thecocktaildb.com/images/media/drink/vrwquq1478252802.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;
}

.login-header {
  text-align: center;
  margin-bottom: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form input {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 16px;
}

.login-form button {
  padding: 10px 15px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-form button:hover {
  background-color: #0056b3;
}

.registration-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  background-image: url('https://www.thecocktaildb.com/images/media/drink/vrwquq1478252802.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;
}

.registration-header {
  text-align: center;
  margin-bottom: 20px;
}

.registration-form {
  display: flex;
  flex-direction: column;
}

.registration-form input {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 16px;
}

.registration-form button {
  padding: 10px 15px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.registration-form button:hover {
  background-color: #0056b3;
}
.navbar {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: #080808;
}

.navbar-item {
  color: white;
  text-decoration: none;
  padding: 8px 16px;
  transition: background-color 0.3s;
}

.navbar-item:hover {
  background-color: #080808;
}
